

th[asc]::after {
  content: url('/img/asc.png');
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: static;
  height: 0px;
  top: -2px;
}

th[desc]::after {
  content: url('/img/desc.png');
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: static;
  height: 0px;
  top: -2px;
}

th[sortable] {
  cursor: pointer;
  color: gray;
}
