@{
    ViewBag.Title = "SingleFilterExample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table" class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="columns columns-right btn-group pull-right">
            <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                <i class="glyphicon glyphicon-list-alt icon-list-alt">
                </i>
            </button>
            <div class="keep-open btn-group" title="Columns">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-th icon-th">
                    </i> <span class="caret">
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <label>
                            <input type="checkbox" data-field="id" value="0" checked="checked"> ID
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" data-field="name" value="1" checked="checked"> Item Name
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" data-field="price" value="2" checked="checked"> Item Price
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right search">
            <input data-columnNames="Id FirstName Salary" filter="cs" class="form-control" type="text" placeholder="Search">
        </div>
    </div>
    <div class="fixed-table-container" style="height: 367px; padding-bottom: 40px;">
        <div class="fixed-table-header fixed-table-body" style="margin-right: 0px;">
            <table class="table table-hover JColResizer">
                <thead>
                    <tr>
                        <th @*sortable*@ data-name="Id" @*style="width: 175px;"*@ data-field="id" tabindex="0">
                            <div class="th-inner th-inner">ID</div>
                            <div class="fht-cell" style="width: 175px;">
                            </div>
                        </th>
                        <th sortable data-name="FirstName" @*style="width: 378px;"*@ data-field="name" tabindex="0">
                            <div class="th-inner">Item Name</div>
                            <div class="fht-cell" style="width: 377px;">
                            </div>
                        </th>
                        <th sortable data-name="Salary" @*style="width: 368px;"*@ data-field="price" tabindex="0">
                            <div class="th-inner">Item Price</div>
                            <div class="fht-cell" style="width: 367px;">
                            </div>
                        </th>
                        <th data-name="Actions">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dt-template-editable>
                        <td>
                            <input type="text" name="FirstName" value="" class="td-inner form-control" />
                        </td>
                        <td>
                            <input type="text" name="LastName" value="" class="td-inner form-control" />
                        </td>
                        <td>
                            <input type="text" name="Salary" value="" class="td-inner form-control" />
                        </td>
                        <td>
                            <button dt-btn-update>Update</button>
                        </td>
                    </tr>
                    <tr dt-template-main>
                        <td>
                            <div td-inner></div>
                        </td>
                        <td>
                            <div td-inner></div>
                        </td>
                        <td>
                            <div td-inner></div>
                        </td>
                        <td>
                            <div td-inner></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="fixed-table-pagination" style="display: block;">
            <div class="pull-left pagination-detail">
                <span class="pagination-info">Showing 20 of <span number-of-rows /> rows</span>
            </div>
            <div class="pull-right center pagination" pagination>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var myTable = dataTable.init('#table', {
            ajax: {
                url: '/home/GetData'
            },
            paging: {
                enable: true,
                pageSize: 20
            },
            spinner: {
                enable: true, // default value is "true"
                style: 2
            },
            features: {
                identifier: 'Id',
                selectable: {
                    enable: true,
                    multi: true,
                    cssClasses: 'active'
                },
            },
            columns: {
                Actions: {
                    render: function () {
                        return '<button dt-btn-edit>Edit</button>';
                    }
                }
            },
            editable: {
                update: function (data, success, error) {
                    //success();
                    error();
                }
            }
        });

        $(document).ready(function () {
            $('.filterable .btn-filter').click(function () {
                var $panel = $(this).parents('.filterable'),
                $filters = $panel.find('.filters input'),
                $tbody = $panel.find('.table tbody');
                if ($filters.prop('disabled') == true) {
                    $filters.prop('disabled', false);
                    $filters.first().focus();
                } else {
                    $filters.val('').prop('disabled', true);
                    $tbody.find('.no-result').remove();
                    $tbody.find('tr').show();
                }
            });
        });
    </script>
}
