@{
    ViewBag.Title = "SingleFilterExample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    [dt-template] {
        visibility: hidden;
    }
</style>

<div id="table" class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="columns columns-right btn-group pull-right">
            <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                <i class="glyphicon glyphicon-list-alt icon-list-alt">
                </i>
            </button>
            <div class="keep-open btn-group" title="Columns">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-th icon-th">
                    </i> <span class="caret">
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <label>
                            <input type="checkbox" data-field="id" value="0" checked="checked"> ID
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" data-field="name" value="1" checked="checked"> Item Name
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" data-field="price" value="2" checked="checked"> Item Price
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right search">
            <input data-columnNames="Id FirstName Salary" filter="cs" class="form-control" type="text" placeholder="Search">
        </div>
    </div>
    <div class="fixed-table-container" style="height: 500px; padding-bottom: 40px;">
        <div class="fixed-table-header fixed-table-body" style="margin-right: 0px;">
            <table dt-table class="table table-hover JColResizer">
                <thead>
                    <tr>
                        <th>
                            <div class="th-inner th-inner">
                                <input id="dt-selectAll" type="checkbox" name="name" value="" />
                            </div>
                            <div class="fht-cell">
                            </div>
                        </th>
                        <th data-name="Id" data-field="id" tabindex="0">
                            <div class="th-inner th-inner">ID</div>
                            <div class="fht-cell" style="width: 175px;">
                            </div>
                        </th>
                        <th sortable data-name="FirstName" data-field="name" tabindex="0">
                            <div dt-inner class="th-inner">Item Name</div>
                            <div class="fht-cell" style="width: 377px;">
                            </div>
                        </th>
                        <th sortable data-name="Salary" data-field="price" tabindex="0">
                            <div dt-inner class="th-inner">Item Price</div>
                            <div class="fht-cell" style="width: 367px;">
                            </div>
                        </th>
                        <th data-name="Actions">
                            <div class="th-inner">Actions</div>
                            <div class="fht-cell" style="width: 367px;">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dt-template="edit">
                        <td colspan="2">
                            <input type="text" data-name="InvalidName" />
                            <input type="text" data-name="FirstName" value="" class="td-inner form-control" />
                        </td>
                        <td>
                            <input type="text" data-name="LastName" value="" class="td-inner form-control" />
                        </td>
                        <td>
                            <input type="text" no-custom-Render data-name="Salary" value="" class="td-inner form-control" dt-render="renderWithCurrency" />
                        </td>
                        <td>
                            <button dt-btn-post="main post" dt-delay="250" class="btn btn-primary">Update</button>
                            <button dt-btn-template="main" dt-delay="250" class="btn btn-default">Cancel</button>
                        </td>
                    </tr>
                    <tr dt-template="main">
                        <td>
                            <input class="selected" type="checkbox" name="name" value="" />
                        </td>
                        <td>
                            <div data-name="Id"></div>
                        </td>
                        <td>
                            <div data-name="FirstName"></div>
                        </td>
                        <td>
                            <div data-name="Salary" dt-render="renderWithoutCurrency"></div>
                        </td>
                        <td>
                            <button dt-btn-template="edit" dt-delay="250" class="btn btn-warning">Edit</button>
                            <button dt-btn-template="info" dt-delay="250" class="btn btn-info">Info</button>
                        </td>
                    </tr>

                    <tr dt-template="info">
                        <td colspan="5">
                            <div class="jumbotron">
                                <h1><span data-name="FirstName"></span> <span data-name="LastName"></span></h1>
                                <p>Salary: <span data-name="Salary" dt-render="renderWithoutCurrency" /></p>
                                <p><a dt-btn-template="main" class="btn btn-primary btn-lg" href="#" role="button">Return</a></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fixed-table-pagination" style="display: block;">
            <div class="pull-left pagination-detail">
                <span class="pagination-info">Showing 20 of <span number-of-rows /> rows</span>
            </div>
            <div class="pull-right center pagination" dt-paginator="2" dt-paginator-length="7">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var myTable = dataTable.init('#table', {
            ajax: {
                url: '/home/GetData'
            },
            paging: {
                enable: true,
                pageSize: 20
            },
            spinner: {
                enable: true, // default value is "true"
                style: 2
            },
            selectable: {
                identifier: 'Id',
                enable: true,
                multi: true,
                cssClasses: 'selected',
                onSelectedRowRendered: function ($row) {
                    $row.find('input.selected').prop('checked', true);
                },
                onNotSelectedRowRendered: function ($row) {
                    $row.find('input.selected').prop('checked', false);
                }
            },
            columns: {
                Salary: {
                    render: {
                        // A function instead of an object may be provided!
                        renderWithCurrency: function (data) {
                            return data + ' $';
                        },
                        renderWithoutCurrency: function (data) {
                            return data;
                        }
                    }
                }
            },
            editable: {
                update: {
                    post: function (postData, rowData, success, error) {
                        debugger;
                        rowData.Position = "hahhaha";
                        success();
                        //error();
                    }
                }
            }
        });

        $('#dt-selectAll').on('change', function (e) {
            var isChecked = $(e.target).is(':checked');
            isChecked ? myTable.selectAll() : myTable.unselectAll();
        });

        $('.filterable .btn-filter').click(function () {
            var $panel = $(this).parents('.filterable'),
            $filters = $panel.find('.filters input'),
            $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });


    </script>
}
