@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Single Filter</h2>
        <p>
            Description...
        </p>
        <p><a class="btn btn-default" href="/home/SingleFilterExample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filter Per Column</h2>
        <p>Description...</p>
        <p><a class="btn btn-default" href="/home/FilterPerColumnExample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filter Icon Example</h2>
        <p>Description...</p>
        <p><a class="btn btn-default" href="/home/FilterIconExample">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts{
}