@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Single Filter</h2>
        <p>
            Description...
        </p>
        <p><a class="btn btn-default" href="/home/SingleFilterExample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filter Per Column</h2>
        <p>Description...</p>
        <p><a class="btn btn-default" href="/home/FilterPerColumnExample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Editable</h2>
        <p>Description...</p>
        <p><a class="btn btn-default" href="/home/EditableExample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paginator Template</h2>
        <p>Description...</p>
        <p><a class="btn btn-default" href="/home/PaginatorTemplateExample">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts{
}