@{
    ViewBag.Title = "SingleFilterExample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .filterable {
        margin-top: 15px;
    }

        .filterable .panel-heading .pull-right {
            margin-top: -20px;
        }

        .filterable .filters input[disabled] {
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }

            .filterable .filters input[disabled]::-webkit-input-placeholder {
                color: #333;
            }

            .filterable .filters input[disabled]::-moz-placeholder {
                color: #333;
            }

            .filterable .filters input[disabled]:-ms-input-placeholder {
                color: #333;
            }
</style>


<div id="table" class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="pull-right search">
            <input data-columnNames="Id FirstName Salary" filter="cs" class="form-control" type="text" placeholder="Search">
        </div>
    </div>
    <div class="fixed-table-container" style="height: 367px; padding-bottom: 40px;">
        <div class="fixed-table-header fixed-table-body" style="margin-right: 0px;">
            <table class="table table-hover JColResizer">
                <thead>
                    <tr>
                        <th data-name="Id" data-field="id" tabindex="0">
                            <div class="th-inner th-inner">ID</div>
                            <div class="fht-cell" style="width: 175px;">
                            </div>
                        </th>
                        <th sortable data-name="FirstName" data-field="name" tabindex="0">
                            <div dt-inner class="th-inner">Item Name</div>
                            <div class="fht-cell" style="width: 377px;">
                            </div>
                        </th>
                        <th sortable data-name="Salary" data-field="price" tabindex="0">
                            <div dt-inner class="th-inner">Item Price</div>
                            <div class="fht-cell" style="width: 367px;">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody dt-body>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="fixed-table-pagination" style="display: block;">
            <div class="pull-left pagination-detail">
                <span class="pagination-info">Showing 20 of <span number-of-rows /> rows</span>
            </div>
            <div class="pull-right center pagination" dt-paginator="3" dt-paginator-length="8">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var myTable = dataTable.init('#table', {
            ajax: {
                url: '/home/GetData'
            },
            paging: {
                enable: true,
                pageSize: 20
            },
            spinner: {
                enable: true, // default value is "true"
                style: 2,
                opacity: 0.2,
                width: '200px'
            },
            selectable: {
                identifier: 'Id',
                enable: true,
                multi: true,
                cssClasses: 'active'
            },
            sortable: {
                //enabled: true,
                //ascCssClasses: 'asc',
                //descCssClasses: 'desc'
            }
        });

        $(document).ready(function () {
            $('.filterable .btn-filter').click(function () {
                var $panel = $(this).parents('.filterable'),
                $filters = $panel.find('.filters input'),
                $tbody = $panel.find('.table tbody');
                if ($filters.prop('disabled') == true) {
                    $filters.prop('disabled', false);
                    $filters.first().focus();
                } else {
                    $filters.val('').prop('disabled', true);
                    $tbody.find('.no-result').remove();
                    $tbody.find('tr').show();
                }
            });
        });
    </script>
}
